 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #ededed;
  background: #081b29;
}

/* Header and Navigation */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
  color: #0ef;
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background: url(royal.jpg) no-repeat center/cover;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.4s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.6s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 90px 10%;
}

.about-img img {
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  margin: 15px 0 30px;
}

.about-text p {
  font-size: 20px;
  margin-bottom: 4rem;
}

/* Experiences Section */
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}

.sub-title span {
  color: #0ef;
}

.container {
  padding: 90px 10%;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  gap: 40px;
}

.services-list div {
  background: transparent;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
  transition: transform 0.5s;
}

.services-list div:hover {
  transform: translateY(-10px);
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}


.container1 {
  padding: 90px 10%;
}

.heading1 {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}

.Technical-bars .bar {
  margin-bottom: 40px;
}

.Technical-bars .info span {
  font-size: 17px;
  font-weight: 500;
}

.progress-line {
  position: relative;
  height: 5px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.progress-line span {
  display: block;
  height: 100%;
  background: #0ef;
  animation: fill 2s forwards;
}
.progress-line.html span{
  width: 90%;
}
.progress-line.css span{
  width: 60%;
}
.progress-line.javascript span{
  width: 70%;
}
.progress-line.python span{
  width: 80%;
}
.progress-line.react span{
  width: 50%;
}



/* Portfolio Section */
.main-text {
  padding-top: 130px;
}

.main-text h2 {
  text-align: center;
  font-size: 60px;
}

.main-text h2 span {
  color: #0ef;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 20px;
  margin: 40px 10%;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.row img {
  width: 100%;
  transition: transform 0.5s;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.1), #0ef);
  color: #000;
  text-align: center;
  padding: 0 20px;
  transition: height 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* Contact Section */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 90px 10%;
}

.contact-text h2 {
  font-size: 60px;
}

.contact-text h2 span {
  color: #0ef;
}

.contact-text h4 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text p {
  font-size: 20px;
  margin-bottom: 2rem;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list i {
  color: #0ef;
  font-size: 20px;
}

.contact-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  margin: 30px 15px 0 0;
  transition: .5s;
}

.contact-icons a:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form .send {
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan;
}

/* Footer */
.last-text {
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  margin-top: 70px;
}

/* Scroll to top */
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

/* Animations */
@keyframes slideRight {
  from { transform: translateX(-100px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideLeft {
  from { transform: translateX(100px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideTop {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes slideBottom {
  from { transform: translateY(-100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}